<div class="mx-6 mt-4">
  <h1 class="text-4xl">Result</h1>
  <p class="result mt-2"><%= @result[:message] %></p>
</div>
<div class="mx-6 mt-4">
  <p class="score mt-2">Score: <%= @result[:score] %></p>
  <!-- <%= @start_time %><br /><%= Time.now %> -->
  <a href="/new" class="text-blue-600 text-sm">Play again</a>
  <!-- <script>
  window.onload = () => {
    document.querySelector(".result").
  };
</script> -->
</div>
